/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(32, 91, 254, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: blueviolet;
}

@media(max-width:990px) {
    .all-cards .col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width:768px) {
    .all-cards .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}